# Arquivos de dados
*.csv filter=lfs diff=lfs merge=lfs -text 

data/df_menor.csv filter=lfs diff=lfs merge=lfs -text
data/correlacao.csv filter=lfs diff=lfs merge=lfs -text
data/estatisticas.csv filter=lfs diff=lfs merge=lfs -text
data/mean.csv filter=lfs diff=lfs merge=lfs -text
data/std.csv filter=lfs diff=lfs merge=lfs -text
data/zeros_count.csv filter=lfs diff=lfs merge=lfs -text

data/otimizacao_final.csv filter=lfs diff=lfs merge=lfs -text
